/* Estilos para botões */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50; /* Cor verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #45A049; /* Cor verde mais escura no hover */
}

/* Estilos para cabeçalhos de seção */
.section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; /* Cor de texto padrão */
}

/* Estilos para parágrafos de texto */
.paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: #666; /* Cor de texto mais escura */
}

/* Estilos para links dentro de parágrafos */
.paragraph a {
  color: #FF4500; /* Cor laranja avermelhada */
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.paragraph a:hover {
  color: #E63900; /* Cor laranja mais escura no hover */
}

/* Animação de fundo suave para disciplinas */
.disciplina {
  /* ... (seus estilos existentes) */
  transition: background-image 0.3s ease-in-out;
}

.disciplina:hover {
  background-image: linear-gradient(to bottom right, #FFA500, #0004ff); /* Inverta as cores no hover */
}

/* Animação de borda suave para disciplinas */
.disciplina {
  /* ... (seus estilos existentes) */
  transition: border-color 0.3s ease-in-out;
}

.disciplina:hover {
  border-color: #4CAF50; /* Cor verde na borda no hover */
}
